<div class="popup-filter d-flex flex-column justify-content-between">
    <div class="filter-main">
        <div class="d-flex justify-content-between align-items-center">
            <h2>Search filters</h2>
            <div class="close-circle clickable" (click)="close()">
                <img src="../../../../assets/Close.svg" width="18px" height="18px">
            </div>
        </div>

        <mat-dialog-content>
            <div>
                <h2>Sort by</h2>
                <app-category [title]="'open'" [image]="'assets/Fire.svg'" [status]="activeStatus"
                    (click)="this.activeStatus = !this.activeStatus"></app-category>
            </div>
            <div>
                <h2>Cuisine</h2>
                <div class="d-flex justify-content-start">
                    <app-chip [title]="'All'"></app-chip>
                    <app-chip [title]="'Fast food'"></app-chip>
                    <app-chip [title]="'American food'"></app-chip>
                </div>
            </div>

        </mat-dialog-content>
    </div>

    <button class="clock-button clickable d-flex justify-content-center align-items-center"
        (click)="filterData(this.activeStatus)"> <span class="full-width">Apply
            Filter</span></button>
</div>